files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Setting execute permissions on node_modules/.bin/*"
      chmod +x /var/app/staging/node_modules/.bin/*
      if [ -f /var/app/staging/node_modules/.bin/next ]; then
        echo "Next binary found and permissions set."
      else
        echo "Next binary not found in /var/app/staging/node_modules/.bin/"
      fi